In [1]:
import pandas as pd
import os

path = r'C:\Users\Grzegorz\Documents\GitHub\continuity_of_absence\data\raw\absence_in_2018.XLSX'

df = pd.read_excel(path, index_col=None)

In [2]:
df = df.sort_values(['Numer osobowy','Rodz. nieob./obecn.', 'Data od'])

df['Nowa_data_zakonczenia'] = df['Data od']

In [6]:
for i in range(1, len(df) - 1):
    if (
        (df.at[i, 'Numer osobowy'] == df.at[i+1, 'Numer osobowy']) and
        (df.at[i, 'Rodz. nieob./obecn.'] == df.at[i+1, 'Rodz. nieob./obecn.']) and
        (df.at[i, 'Data do'] - df.at[i+1, 'Data od']).days in [0, 1]    
    ):
        df.at[i, 'Nowa_data_zakonczenia'] = df.at[i+1, 'Data do']
display(df.tail(10))

,Numer osobowy,Rodz. nieob./obecn.,Nieobecność,Data od,Data do,Godziny nieobecności,Dni obecn./nieobecn.,Dni kalendarzowe,Zm. dnia,Grupa pracowników,Data ur.,Nowa_data_zakonczenia
4995,A11362453D,CHZ,Choroba zwykła,2023-12-05,2023-12-16,80.0,10.0,12,2023-12-06,NNA,1978-02-10,2023-12-05
4996,A11362533D,CHZ,Choroba zwykła,2023-10-02,2023-10-06,40.0,5.0,5,2023-10-10,NNA,1972-04-23,2023-10-02
4997,A11362533D,CHZ,Choroba zwykła,2023-10-30,2023-11-05,32.0,4.0,7,2023-11-08,NNA,1972-04-23,2023-10-30
4998,A11362533D,CHZ,Choroba zwykła,2023-11-06,2023-11-07,16.0,2.0,2,2023-11-08,NNA,1972-04-23,2023-11-06
4999,A11364093D,CHZ,Choroba zwykła,2023-11-19,2023-11-28,28.0,7.0,10,2023-11-20,NaN,1990-02-28,2023-11-19
5000,A11364703D,CHZ,Choroba zwykła,2023-11-08,2023-11-09,16.0,2.0,2,2023-11-10,NNA,1988-01-31,2023-11-08
5001,A11365053D,CHZ,Choroba zwykła,2023-11-13,2023-11-17,40.0,5.0,5,2023-11-16,NNA,1994-02-17,2023-11-13
5002,A11365243D,CHZ,Choroba zwykła,2023-11-07,2023-11-09,24.0,3.0,3,2023-11-09,NNA,1991-01-12,2023-11-07
5003,A11365333D,CHZ,Choroba zwykła,2023-10-25,2023-10-27,21.0,3.0,3,2023-10-31,NNA,1978-08-02,2023-10-25
5004,A11365333D,CHZ,Choroba zwykła,2023-10-28,2023-11-03,28.0,4.0,7,2023-10-31,NNA,1978-08-02,2023-10-28