In [14]:
import pandas as pd
import glob
import os

In [15]:
current_path = os.getcwd()
parent_directory = os.path.dirname(current_path)
source_path = os.path.join(parent_directory, 'data', 'raw')

file = glob.glob(os.path.join(source_path, "*.xlsx"))

df = pd.read_excel(file[0], index_col=None)

In [16]:
df = df.sort_values(['Numer osobowy','Rodz. nieob./obecn.', 'Data od'])

df['Nowa_data_zakonczenia'] = df['Data do']
df['Dokonano_złączenia'] = 0

df.drop('Zm. dnia', axis=1, inplace=True)

In [18]:
for i in range(1, len(df)):
    if (i+1 < len(df) and
        i in df.index and 
        (i+1) in df.index and
        df.loc[i, 'Numer osobowy'] == df.loc[i+1, 'Numer osobowy'] and
        df.loc[i, 'Rodz. nieob./obecn.'] == df.loc[i+1, 'Rodz. nieob./obecn.'] and
        df.loc[i, 'Data do'] == df.loc[i+1, 'Data od'] - pd.Timedelta(days=1)):

        df.loc[i, 'Nowa_data_zakonczenia'] = df.loc[i+1, 'Data do']

        df.loc[i, 'Data do'] = df.loc[i+1, 'Data do']
        df.loc[i, 'Godziny nieobecności'] += df.loc[i+1, 'Godziny nieobecności']
        df.loc[i, 'Dni obecn./nieobecn.'] += df.loc[i+1, 'Dni obecn./nieobecn.']
        df.loc[i, 'Dni kalendarzowe'] += df.loc[i+1, 'Dni kalendarzowe']
        df.loc[i, 'Dokonano_złączenia'] = 'Tak'
        df.drop(index=[i+1], inplace=True)

display(df.tail(20))

,Numer osobowy,Rodz. nieob./obecn.,Nieobecność,Data od,Data do,Godziny nieobecności,Dni obecn./nieobecn.,Dni kalendarzowe,Grupa pracowników,Data ur.,Nowa_data_zakonczenia,Dokonano_złączenia
0,Osoba 1,NPZO,Op. Nad chor.Dzieck.,2023-03-06,2023-03-10,40,5,5,NaN,1985-11-18,2023-03-10,0
1,Osoba 1,UPZG,Płatny–MNiSzW z 12.10.06,2023-06-27,2023-07-14,112,14,16,NaN,1985-11-18,2023-07-14,Tak
3,Osoba 2,CHZ,Choroba zwykła,2023-03-20,2023-03-24,40,5,5,NNA,1989-01-26,2023-03-24,0
4,Osoba 2,CHZ,Choroba zwykła,2023-05-22,2023-06-02,80,10,10,NNA,1989-01-26,2023-06-02,Tak
6,Osoba 3,NPZO,Op. Nad chor.Dzieck.,2023-01-09,2023-01-10,16,2,2,NNA,1989-01-26,2023-01-10,0
7,Osoba 3,NPZO,Op. Nad chor.Dzieck.,2023-01-16,2023-01-20,40,5,5,NNA,1989-01-26,2023-01-20,0
8,Osoba 3,NPZO,Op. Nad chor.Dzieck.,2023-02-07,2023-02-10,32,4,4,NNA,1989-01-26,2023-02-10,0
9,Osoba 3,NPZO,Op. Nad chor.Dzieck.,2023-03-27,2023-03-28,16,2,2,NNA,1989-01-26,2023-03-28,0
10,Osoba 3,NPZO,Op. Nad chor.Dzieck.,2023-06-20,2023-06-23,32,4,4,NNA,1989-01-26,2023-06-23,0
11,Osoba 3,NPZO,Op. Nad chor.Dzieck.,2023-07-19,2023-07-21,24,3,3,NNA,1989-01-26,2023-07-21,0
12,Osoba 3,NPZO,Op. Nad chor.Dzieck.,2023-07-24,2023-07-25,16,2,2,NNA,1989-01-26,2023-07-25,0
13,Osoba 3,NPZO,Op. Nad chor.Dzieck.,2023-08-14,2023-08-18,32,4,5,NNA,1989-01-26,2023-08-18,0
14,Osoba 3,NPZO,Op. Nad chor.Dzieck.,2023-11-28,2023-12-01,32,4,4,NNA,1989-01-26,2023-12-01,0
15,Osoba 3,NPZO,Op. Nad chor.Dzieck.,2023-12-04,2023-12-04,8,1,1,NNA,1989-01-26,2023-12-04,0
16,Osoba 4,CHZ,Choroba zwykła,2023-09-28,2023-11-01,96,24,35,NNA,1965-11-27,2023-11-01,Tak
18,Osoba 4,CHZ,Choroba zwykła,2023-11-02,2023-12-10,108,27,39,NNA,1965-11-27,2023-12-10,Tak
20,Osoba 5,CHZ,Choroba zwykła,2023-03-20,2023-03-24,40,5,5,NNA,1979-09-03,2023-03-24,0
21,Osoba 6,UPZG,Płatny–MNiSzW z 12.10.06,2023-06-27,2023-06-30,32,4,4,NaN,1985-05-04,2023-06-30,0
22,Osoba 6,UPZG,Płatny–MNiSzW z 12.10.06,2023-07-01,2023-07-14,80,10,12,NaN,1985-05-04,2023-07-14,0

In [ ]:
#test:

for i in range(1, len(df)):
    
    if (i+1 < len(df) and
        i in df.index and 
        (i+1) in df.index and
        df.loc[i, 'Numer osobowy'] == df.loc[i+1, 'Numer osobowy'] and
        df.loc[i, 'Rodz. nieob./obecn.'] == df.loc[i+1, 'Rodz. nieob./obecn.'] and
        df.loc[i, 'Data do'] == df.loc[i+1, 'Data od'] - pd.Timedelta(days=1)):

        df.loc[i, 'Nowa_data_zakonczenia'] = df.loc[i+1, 'Data do']

        df.loc[i, 'Data do'] = df.loc[i+1, 'Data do']
        df.loc[i, 'Godziny nieobecności'] += df.loc[i+1, 'Godziny nieobecności']
        df.loc[i, 'Dni obecn./nieobecn.'] += df.loc[i+1, 'Dni obecn./nieobecn.']
        df.loc[i, 'Dni kalendarzowe'] += df.loc[i+1, 'Dni kalendarzowe']
        df.loc[i, 'Dokonano_złączenia'] = 'Tak'
        df.drop(index=[i+1], inplace=True)

display(df.tail(20))