In [13]:
import pandas as pd
import os

path = r'C:\Users\Grzegorz\Documents\GitHub\continuity_of_absence\data\raw\absence_in_2018.XLSX'

df = pd.read_excel(path)

print(df.head(3))
print(df.shape)

  Numer osobowy Rodz. nieob./obecn.               Nieobecność    Data od  \
0    A11087333D                CHDW  Choroba do potwierdzenia 2023-12-11
1    A11093683D                CHDW  Choroba do potwierdzenia 2023-12-23
2    A11107763D                CHDW  Choroba do potwierdzenia 2023-09-02

     Data do  Godziny nieobecności  Dni obecn./nieobecn.  Dni kalendarzowe  \
0 2023-12-30                  40.0                  10.0                20
1 2023-12-31                   0.0                   0.0                 9
2 2023-09-03                   0.0                   0.0                 2

    Zm. dnia Grupa pracowników   Data ur.
0 2023-11-27               NaN 1949-01-03
1 2023-12-04               NNA 1970-09-13
2 2023-09-08               NNA 1953-09-26
(7463, 11)

In [14]:
df.sort_values(['Numer osobowy', 'Data od'])

,Numer osobowy,Rodz. nieob./obecn.,Nieobecność,Data od,Data do,Godziny nieobecności,Dni obecn./nieobecn.,Dni kalendarzowe,Zm. dnia,Grupa pracowników,Data ur.
5212,A11012773D,NPZO,Op. Nad chor.Dzieck.,2023-03-06,2023-03-10,40.0,5.0,5,2023-03-08,NaN,1985-11-18
6534,A11012773D,UPZG,Płatny–MNiSzW z 12.10.06,2023-06-27,2023-06-30,32.0,4.0,4,2023-07-03,NaN,1985-11-18
6535,A11012773D,UPZG,Płatny–MNiSzW z 12.10.06,2023-07-03,2023-07-14,80.0,10.0,12,2023-07-03,NaN,1985-11-18
6536,A11017843D,UPZG,Płatny–MNiSzW z 12.10.06,2023-06-27,2023-06-30,32.0,4.0,4,2023-07-03,NaN,1985-05-04
6537,A11017843D,UPZG,Płatny–MNiSzW z 12.10.06,2023-07-03,2023-07-14,80.0,10.0,12,2023-07-03,NaN,1985-05-04
...,...,...,...,...,...,...,...,...,...,...,...
5000,A11364703D,CHZ,Choroba zwykła,2023-11-08,2023-11-09,16.0,2.0,2,2023-11-10,NNA,1988-01-31
5001,A11365053D,CHZ,Choroba zwykła,2023-11-13,2023-11-17,40.0,5.0,5,2023-11-16,NNA,1994-02-17
5002,A11365243D,CHZ,Choroba zwykła,2023-11-07,2023-11-09,24.0,3.0,3,2023-11-09,NNA,1991-01-12
5003,A11365333D,CHZ,Choroba zwykła,2023-10-25,2023-10-27,21.0,3.0,3,2023-10-31,NNA,1978-08-02
5004,A11365333D,CHZ,Choroba zwykła,2023-10-28,2023-11-03,28.0,4.0,7,2023-10-31,NNA,1978-08-02